:root {
    --fs-small: 12px;
    --fs-mid: 16px;
    --fs-large: 32px;
}

.fs-small {
    font-size: var(--fs-small);
}
.fs-mid {
    font-size: var(--fs-mid);
}
.fs-large {
    font-size: var(--fs-large);
}
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.clr-white {
    color: white;
}
.clr-black {
    color: black;
}
.back-clr-white {
    background-color: white;
}
.back-clr-black {
    background-color: black;
}
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track{
    background-color: rgb(41, 41, 41);
}

html::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.563);
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4 ,p{
    margin: 0;
}

body {
    margin: 0;
    font-family: "Jost";
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button {
    font-family: "Jost";
}

html {
    scroll-behavior: smooth;
}

/* here are the animations */

/* here starts the styling of the header */
.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact span{
    margin-top: -2px;
    transition: 0.3s;
}

.contact:hover span{
    transform: rotate(45deg);
    transition: 0.3s;
}

.logo {
    letter-spacing: 1rem;
    margin-left: 7.5rem;
    font-family: "Cinzel";
}

.animate-on-scroll{
    color: white;
    scale: 3;
    font-size: 4rem;
    transform: translateY(50px);
    transition: 0.5s;
}

.animate-on-scroll.active{
    transform: translateY(0);
    scale: 1;
    font-size: 3rem;
    transition: 0.5s;
}
.animate-on-scroll-contact{
    opacity: 0;
    transition: 0.5s;
}
.animate-on-scroll-contact.active-contact{
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: 0.5s;
}

.animate-on-scroll-nav{
    transition:0.5s
}
.animate-on-scroll-nav2{
    transition:0.5s
}
.animate-on-scroll-nav3{
    transition:0.5s
}
.animate-on-scroll-nav4{
    transition:0.5s
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav i {
    font-size: 1.5rem;
    font-weight: 100;
}

.nav .menu {
    font-size: 2rem;
    font-weight: 100;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.header {
    padding: .5rem 7rem;
    position: fixed;
    width: 100%;   
    z-index: 1000;
}

.animation-header {
    background-color: transparent;
    transition: 0.5s;
}

.animation-header.active-header {
    background-color: rgba(0, 0, 0, 0.077);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 40px 1px black;
    transition: 0.5s;
}

.turn-black{
    color: black;
}

.animate-on-scroll-contact.turn-black{
    color: black;
}

/* here starts the hero section */
.hero-section {
    background-image: url(images/prince-akachi-6NhEFn3aqjc-unsplash.jpg);
    background-size: cover;
    background-position-y: -700px;
    height: 750px;
    overflow: hidden;
}

@media (max-width:980px){
    .hero-section {
        background-position-y: -400px;
    }

    .nav a:nth-child(1){
        display: none;
    }
    .nav a:nth-child(2){
        display: none;
    }
    .nav a:nth-child(3){
        display: none;
    }
    .logo {
        margin-left: -3rem;
    }
}

@media (max-width:800px){
    .animate-on-scroll{
        scale: 3;
        font-size: 3rem;
        transform: translateY(50px);
        transition: 0.5s;
    }
}

@media (max-width:780px){
    .hero-section {
        background-position-y: -200px;
    }

    .header {
        padding-inline: 4rem;
    }
}

@media (max-width:650px){
    .hero-section {
        background-position-y: -100px;
    }
    .animate-on-scroll{
        display: block;
        scale: 3;
        font-size: 2rem;
        transform: translateY(100px);
        transition: 0.5s;
        width: 100%;
        text-align: center;
        padding-left: 2rem;
    }
    .contact {
        display: none;
    }

    .logo {
        margin-left: 1rem;
        
    }

}

@media (max-width:575px){
    .hero-section{
        background-position-y: 0;
    }
    .header {
        padding-inline: 2rem;
    }
}

@media (max-width:550px){
    .animate-on-scroll{
        font-size:1rem ;
    }

    

    
}

@media (max-width:460px){
    .animate-on-scroll{
        font-size: 1rem;

    }

    .hero-section {
        background-position-x: -40px;
    }

    .header {
        padding-left: 0;
    }
   
}

@media (max-width:390px){
    .animate-on-scroll{
        font-size: 0;
    }

    .hero-section {
        background-position-x: -100px;
    }

}

.hero-items{
    margin-top: 35rem;
    background-color: rgba(0, 0, 0, 0.077);
    backdrop-filter: blur(10px);
    width: max-content;
    margin-inline: auto;
    padding: 1rem;
    padding-bottom: 2rem;
}

.hero-items span{
    display: block;
    text-align: center;
    margin-bottom:2rem ;
    color: white;
    font-size: var(--fs-large);
}

.hero-links {
    text-align: center;
}

.hero-links a {
    color: black;
    background-color: white;
    padding: 1rem;
    font-size: var(--fs-small);
    transition: 0.3s;
}

.hero-links a:hover {
    transition: 0.3s;
}

/* here starts the section two */
.section-two {
    padding-block: 5rem;
}

.section-two h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.item img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}



.item {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: max-content;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}

.label {
    font-size: 1.2rem;
    color: black;    
}

.item a {
    width: max-content;
    margin: auto;
}


.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: max-content;
    gap: 2rem;
    margin: auto;
}

@media (max-width:1500px){
    .item img{
        width: 250px;
        height: 300px;
    }
}

@media (max-width:1150px){
    .item img {
        width: 200px;
        height: 250px;
    }
}

@media (max-width:950px){
    .items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
        column-gap: 1rem;
    }

    .item img{
        width: 300px;
        height: 400px;
    }
}

@media (max-width:680px){
    .item img {
        width: 250px;
        height: 300px;
    }
}

@media (max-width:560px){
    .item img {
        width: 200px;
        height: 250px;
    }
}

@media (max-width:450px){
    .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .item img {
        width: 300px;
        height: 350px;
    }

    .section-two h2{
        font-size: 20px;
    }
}

/* section 3 */

.side-item img{
    width: 700px;
    height: 800px;
    object-fit: cover;
}

.side-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;
}

.side-label {
    font-size: 2rem;
    color: white;
    transform: translateY(-150px);
    background-color: rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(10px);
    width: max-content;
    padding: 1rem;
    margin: auto;
    border: 2px solid white;
}

.side-items {
    display: flex;
    width: max-content;
    gap: 2rem;
    margin-inline:auto ;
}

@media (max-width:1500px){
    .side-item img{
        width: 600px;
        height: 700px;
    }
}

@media (max-width:1275px){
    .side-item img{
        width: 500px;
        height: 600px;
    }
}
@media (max-width:1060px){
    .side-item img{
        width: 700px;
        height: 800px;
    }

    .side-items {
        flex-direction: column;
        gap: 0;
    }

    .side-item{
        margin-bottom: -3rem;
    }
}

@media (max-width:750px){
    .side-item img{
        width: 600px;
        height: 700px;
    }
}

@media (max-width:660px){
    .side-item img {
        width: 500px;
        height: 600px;
    }
}
@media (max-width:540px){
    .side-item img {
        width: 350px;
        height: 500px;
    }
}

/* HERE starts the fourth section */
.section-four h2{
    text-align: center;
    margin-bottom: 5rem;

}

/* here starts the fifth section */
.section-five {
    margin-block: 10rem;
}

.section-five h2{
    text-align: center;
    margin-bottom: 8rem;
}

.featured img{
    width: 600px;
    height: 700px;
    object-fit: cover;
}

.featured-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
    gap: 2rem;
}

.readmore {
    position: relative;
    color: black;
    margin: auto;
}

.featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8rem;
    width: max-content;
    margin: auto;
}

.readmore::after {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.readmore:hover::after {
    transform: scaleX(0);
}

.readmore::before {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.readmore:hover::before {
    transform: scaleX(1);
}

/* here starts the sixth section */
.section-six{
    margin-block: 10rem;
    text-align: center;

}

.section-six h2{
    margin-bottom: 5rem;
}

.store {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.store img{
    width: 400px;
}

.store a {
    width: max-content;
    margin: auto;
}

.store p:nth-child(3){
    width: 22rem;
    margin: auto;
}

.explore {
    position: relative;
    width: max-content;
    margin: auto;
}

.explore::after {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.explore:hover::after {
    transform: scaleX(0);
}

.explore::before {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.explore:hover::before {
    transform: scaleX(1);
}

/* here starts the seventh section */
.section-seven {
    margin-bottom: 10rem;
}

.section-seven h2{
    text-align: center;
    margin-bottom: 5rem;
}

.service img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.service {
    text-align: center;
}

.service-description p:nth-child(2){
    width: 25rem;
    margin: auto;
}

.service-description{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services {
    display: flex;
    width: max-content;
    margin: auto;
    gap: 4rem;
}

.services .service:nth-child(2) p:nth-child(2){
    margin-bottom: 3rem;
}
.services .service:nth-child(3) p:nth-child(2){
    margin-bottom: 1.5rem;
}

.experience-link {
    position: relative;
    width: max-content;
    margin: auto;
}

.experience-link::after {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.experience-link:hover::after {
    transform: scaleX(0);
}

.experience-link::before {
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.experience-link:hover::before {
    transform: scaleX(1);
}

/* here starts the footer */
.footer {
    padding-block:5rem ;
}

.footer h2{
    text-align: center;
    margin-bottom: 2rem;
}

.footer-p{
    margin-inline:auto ;
    text-align: center;
    margin-bottom: 2rem;
    width: 50rem;
}

.footer .contact {
    width: max-content;
    margin: auto;
}

.help h3{
    font-size: var(--fs-small);
    color: hsl(0, 0%, 50%);
    font-weight: 600;
}

.help a{
    color: white;
    position: relative;
    font-size: 13px;
    width: max-content;
}

.help {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.help a::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.help a:hover::after {
    transform: scaleX(0);
}

.help a::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.help a:hover::before {
    transform: scaleX(1);
}

.turn-white {
    color: white;
}

.animate-on-scroll-contact.turn-white{
    color: white;
}

.form h3{
    font-size: var(--fs-small);
    color: hsl(0, 0%, 50%);
    font-weight: 600;
    margin-bottom: 1rem;
}

.input {
    position: relative;
}

.input input {
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 50%);
    outline: none;
    margin-top: 1rem;
    color: white;
    font-family: "Jost";
    font-size: 1.1rem;
    padding-bottom: .3rem;
    transition: 0.5s ease;

}

.input label {
    color: hsl(0, 0%, 50%);
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    transform: translateY(20px);
    transition: 0.5s ease;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label {
    transform: translateY(-5px);
    font-size: 0.8rem;
    transition: 0.5s ease;
    color: white;

}

.input input:focus {
    border-bottom: 2px solid white;
    transition: 0.5s ease;
}

.updates h3{
    font-size: var(--fs-small);
    color: hsl(0, 0%, 50%);
    font-weight: 600;
    margin-bottom: 1rem;
}

.updates p{
    color: white;
    font-size: var(--fs-small);
    text-align: left;
}

.updates p a{
    color: white;
    position: relative;
}

.updates p a::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.updates p a:hover::after {
    transform: scaleX(0);
}

.updates p a::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.updates p a:hover::before {
    transform: scaleX(1);
}

.updates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.region h3{
    font-size: var(--fs-mid);
    color: hsl(0, 0%, 50%);
    font-weight: 600;
    margin-bottom: 1rem;
}

.region a{
    color: white;
    position: relative;
    font-size: var(--fs-small);
}

.region a::after {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease;
    
}

.region a:hover::after {
    transform: scaleX(0);
}

.region a::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    bottom:0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
}

.region a:hover::before {
    transform: scaleX(1);
}

.grid {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 150px 200px 600px;
    row-gap: 4rem;
    width: max-content;
    margin-inline: auto;
    column-gap: 10rem;
}

.footer-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.foot-logo {
    font-size: 20rem;
    margin-top: 5rem;
    color: white;
    font-family: "Cinzel";
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 300;

}

.foot-p{
    color: white;
    text-align: center;
}